[submodule "mpay"]
	path = mpay
	url = https://github.com/fantangCK/mpay.git
[submodule "PrintEase-uniapp"]
	path = PrintEase-uniapp
	url = https://github.com/fantangCK/PrintEase-uniapp.git
[submodule "PrintEase-admin"]
	path = PrintEase-admin
	url = https://github.com/fantangCK/PrintEase-admin
[submodule "PrintEase-backend"]
	path = PrintEase-backend
	url = https://github.com/fantangCK/PrintEase-backend
[submodule "PrintEase-dispatch"]
	path = PrintEase-dispatch
	url = https://github.com/fantangCK/PrintEase-dispatch
